{{!< layout}}
<!-- Experiemental Scripts and CSS -->
<script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.css"/>
<link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui-experimental.css"/>
<!-- Content -->
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-group">
      <div class="aui-item">
        <form class="aui">
          <aui-label for="async-project-single-select">Search for Task:</aui-label>
          <p>
            <aui-select
              id="async-task-single-select"
              name="task"
              placeholder="Start typing your task name..."
              src="{{localBaseUrl}}search/task"
              value="type to trigger async"
            ></aui-select>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
let taskId = ''
$('#async-task-single-select').change(function(e) {
  /*
   * sometimes this change method gets called twice
   * instead of figuring out why, i do a ratchet check instead
   * to make sure that the value was in fact changed
  */
  if(this.value==this.oldvalue)return;
  this.oldvalue=this.value;

  taskId = $('#async-task-single-select').val()
});

AP.require(["confluence", "dialog"], function (confluence, dialog) {
  dialog.getButton("submit").bind(function () {
    let macroParams = {
      taskId: taskId
    }
    confluence.saveMacro(macroParams);
    confluence.closeMacroEditor();
    console.log('i think that worked')
  });
});
</script>
